<article id="<%= post.layout %>-<%= post.slug %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
  <%- partial('post/meta', { post: post }) %>
  <% if (post.toc !== false) { %>
    <section class="toc-wrapper"><%- toc(post.content, { list_number: false }) %></section>
  <% } %>
  <section class="article typo">
    <div class="article-entry" itemprop="articleBody">
      <%- post.content %>
    </div>
    <% if (post.tags && post.tags.length) { %>
    <div class="article-tags tags">
      <% post.tags.each(function(item) { %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <% }) %>
    </div>
    <% } %>
  </section>
  <%- partial('article/share-link', { post: post }) %>
  <%- partial('article/nav', { post: post }) %>
  <section id="list_related_posts">
    <h2>相關文章</h2>
    <%- list_related_posts({ maxCount: 6, orderBy: 'random', 'generateAbstract': true, abstractLength: 60 }) %>
  </section>
  <% if (post.comments && config.disqus.enable) { %>
    <section class="comments" id="comments">
      <h2>討論區</h2>
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
  <% } %>
</article>
<script>
window.subData = {
  title: '<%= post.title %>',
  tools: true
}
</script>
