<%
  let current = date(Date.now(), "YYYY");
%>
<footer id="footer" class="clearfix">
	<div class="social-wrapper">
  	<% if (theme.social) { %>
      <% theme.social.forEach(function(value, key) {
        if (value.url && value.slug) { %>
        <a href="<%= value.url %>" class="social <%= value.slug %>"
          target="_blank" rel="external">
          <span class="icon icon-<%= value.slug %>"></span>
        </a>
      <% } }); %>
    <% } %>
  </div>
  <div>
    © 2018 - <%= current %> <span itemprop="copyrightHolder"><%= config.author %></span>
  </div>
  <div>
    Powered by <a href="https://hexo.io/" class="codename">Hexo</a> - 
    Theme <a href='https://github.com/stkevintan/hexo-theme-material-flow' class="codename">MaterialFlow</a>
  </div>
</footer>

